body{
    margin: 0;
    background-color: #BDD0DF;
    font-family: 'Poppins';
    /* height: fit-content; */
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* width: 100%; */
    height: 70px;
    background-color: #FFFFFF;
}

header img {
    margin-left: 50px;
    width: 175px;
}

header a{
    margin-right: 50px;
    padding: 20px;
    align-content: center;
    right: 0;
    position: absolute;
    text-decoration: none;
    color: #022D58;
    font-weight: bold;
    font-size: 20px;
}


.logo {
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin-top: 100px; /* Ensure it is below the header */
}

.back-arrow {
    display: flex;
    justify-content: flex-start;
    width: 330px;
    fill: black;
}

.back-arrow span {
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: -700px; /* Added margin to move it away from the edge */
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-bottom: 16px;
}